/* 引入初始化样式 */
@import'./reset.scss';

/* 自己的scss样式 */


#c-aside {
  .el-menu-vertical-demo {
    .el-menu-item {
      line-height: 48px;
      height: 48px;
    }

    .el-menu-item.is-active {
      color: #fff;
      background: #2294FF;
      height: 48px;
      line-height: 48px;


    }

    .el-submenu {
      .el-submenu__title {
        line-height: 48px;
        height: 48px;
      }

      .el-menu-item {
        line-height: 48px;
        height: 48px;
      }
    }
  }
}

//  dialog 样式

.dialog {
  .el-dialog {
    margin: 0 !important;
    height: 100% !important;
    float: right;

    .el-dialog__header {
      border-bottom: 1px solid #ccc;
    }
  }
}

.in-dialog {
  .el-dialog__body {
    min-height: 400px !important;
  }
}

#input {
  background: transparent !important;
  border: 0 !important;
  color: #fff;
}

#input-c {
  background: transparent !important;
  border: 0 !important;
  color: #21A76D;
}